# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Environment files
.env
**/.env

# Node / frontend
node_modules/
dist/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docs
README.md
