# Python
__pycache__/
*.py[cod]

# Django
*.log
media/
static/

# Env / secrets
.env
.env.*

# Virtualenv
venv/
.envrc

# Git
.git
.gitignore

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
